# /etc/ssh/sshd_config

AddressFamily inet
ListenAddress 0.0.0.0
Port 8080

TCPKeepAlive yes
ClientAliveInterval 30
ClientAliveCountMax 2

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com
KexAlgorithms mlkem768x25519-sha256
# KexAlgorithms sntrup761x25519-sha512@openssh.com

PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
KbdInteractiveAuthentication no
UsePAM yes

X11Forwarding yes
PrintMotd no

AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
